<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="#{@user.linkedin}" data-format="inline"></script>

#request-area
  - if @user.requestable(current_user)
    =link_to new_user_request_path(@user), id: "send-request-link", remote: true do
      Send #{@user.name} a test!
  - else
    %h4 Test Requests
    %ul#pending-request-list
      - @requests.each do |request|
        - if current_user.my_request(request)
          -# The []'d item below dynaically creates IDs consisting of item_x, the below would be request_x
          %li[request]
            Pending request: #{ Problem.find(request.problem_id).title }
            =link_to user_request_path(@user, request), method: :delete, id: "delete-request-link", remote: true do
              Delete
