<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="#{@user.linkedin}" data-format="inline"></script>

#request-area
  =link_to new_user_request_path(@user), id: "send-request-link", remote: true do
    Send #{@user.name} a test!
