<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="#{@user.linkedin}" data-format="inline"></script>

=link_to new_problem_path, id: "new-test-link", remote: true do
  Send #{@user.name} a test!
