.col-lg-12.col-md-12.col-xs-12.uncover
  .row
    - @developers.each do |developer|
      =link_to user_path(developer) do
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          .well.text-center
            %h4 #{developer.name}
            %p Tests complete: #{developer.tests.count}
