- if @user == current_user
  - if @user.developer
    = render "developer_tile", user: @user
    .container
      %h4 Developer relevant partial here
      %ul
        %li Begin first test
        %li Tests sent to you
        %li Tests Completed
        %li Able to hide tests from employers?
        %li Able to order tests as desired
  - elsif @user.employer
    = render "employer_tile", user: @user
    .container
      %h4 Employer relevant partial here
      %ul
        %li Link to view developers
        %li Link to build a new test
        %li List of users who have completed a test sent from this employer
        %li Short list of users who have recently completed any test

  -# %h4 Testing Partials Area
  -# = render "developer_tile", user: @user
  -# = render "employer_tile", user: @user
- else
  = render 'visting_tile', user: @user
