- if @user == current_user
  - if @user.developer
    = render "developer_tile", user: @user
  - elsif @user.employer
    = render "employer_tile", user: @user
- else
  = render 'visting_tile', user: @user
