%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            =link_to "#about" do
              About
          %li.footer-menu-divider
            &sdot;
          %li
            =link_to "#contact" do
              Contact
        %p.copyright.text-muted.small
          Copyright &copy; Hiresly 2015. All Rights Reserved
